.get-featured {
    text-align: center;
    font-weight: bold;
    color: #4c0f1e;
    margin-bottom: 2rem;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 1rem;
      margin-left: 55rem;
    }
  
    button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: #4c0f1e;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    &.visible {
      display: block;
    }
  
    &.hidden {
      display: none;
    }
  }

  .signup-button {
    background-color: #4c0f1e;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.2rem; /* border-radius */

    &:hover {
      background-color: #A7132B;
      color: #ffff;
      
    }
  }
  