.your-wishlist {
  padding-top: 100px;
}
.your-wishlist > h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 35px;
  color: #4c0f1e;
}

.wishlist-container {
  padding: 30px;
}
