$maroon: #4c0f1e;
$white: #ffffff;

.ParallexView {
  .animation {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .animation_layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .animation_layer.parallax {
    position: fixed;
  }

  /* Set third page to fill the remaining space but doesnt work*/
  .background-white {
    &:nth-child(2) {
      height: calc(100vh - 100%);
    }
  }
}

#artback {
  background-image: url(../../../../img/parallax/background.png);
}

#mountain {
  background-image: url(../../../../img/parallax/mountains.png);
}

#logoland {
  background-image: url(../../../../img/parallax/logo_land.png);
}

#jungle1 {
  background-image: url(../../../../img/parallax/jungle1.png);
}

#jungle2 {
  background-image: url(../../../../img/parallax/jungle2.png);
}

#jungle3 {
  background-image: url(../../../../img/parallax/jungle3.png);
}

#jungle4 {
  background-image: url(../../../../img/parallax/jungle4.png);
}

#jungle5 {
  background-image: url(../../../../img/parallax/jungle5.png);
}

#manonmountain {
  background-image: url(../../../../img/parallax/man_on_mountain.png);
}

.background-white {
  background-color: white;
}
