// Reviews.scss
.Reviews-container {
  margin: 0 auto;
  padding: 2rem;

  .Reviews-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ccbbbb;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    margin-top: 5rem;
    

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .Reviews-Restaurant-Name{
      font-size: 3rem;
      font-weight: bold;
      color: #4c0f1e;
      text-align: left ;
    }

    .Reviews-category-title {
      color: #4c0f1e;
      font-size: 1.6rem;
      text-align: left;
      font-weight: bold;
  }

    .Reviews-info-container {
      margin-left: 30px;
      
    }

    .Reviews-image-container {
      position: relative;
      width: 450px;
      height: 450px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      object-fit: cover;
      margin-right: 50px;
      margin-top: auto;
      margin-bottom: auto;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
  .Reviews-buttons-outside-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
  
    .Reviews-submit,
    .Reviews-reserve-seat,
    .Reviews-complain {
      flex: 1; 
      margin: 0 1rem; 
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
  
      .Reviews-submit-text,
      .Reviews-reserve-seat-text,
      .Reviews-complain-text {
        color: #4c0f1e;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
  
      .Reviews-submit-button,
      .Reviews-reserve-seat-button,
      .Reviews-complain-button {
        background-color: #4c0f1e;
        color: #fff;
        border: none;
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 0.2rem;
  
        &:hover {
          background-color: #a7132b;
        }
      }
    }
  }
  

  
}
.Reviews-reviews-title {
  font-weight: bold;
  color: #4c0f1e;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
.Reviews-reviews {
  display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;


.review-card {
  width: 300px; 
  margin: 30px;
  margin-bottom: 5px;
}
}
