.review-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.review-form label {
    text-align: left;
    display: block;
}
.review-form input, .review-form textarea {
    width: 100%;
    padding: 6px, 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.submit-complain {
    background-color: #4c0f1e;
    color: #ffff;
    border: none;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.2rem; /* border-radius */
    margin: 50px;
    
    &:hover {
      background-color: #A7132B;
      color: #ffff;
    }
  }